# Dependency directories
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# Operating system files
.DS_Store

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# ignore iisnode folder used for hosting
iisnode/
