<configuration>
  <system.webServer>
    <handlers>
      <!-- This is the iisnode module handler entry for your Node.js app -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- This rule will redirect all requests to your Node.js app -->
        <rule name="SendToNode">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
