<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <!-- iisnode configuration -->
    <handlers>
      <!-- Map all requests to the Node.js application entry point -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- URL rewrite rules -->
    <rewrite>
      <rules>
        <!-- Redirect all HTTP requests to iisnode for processing -->
        <rule name="NodeApp" patternSyntax="Wildcard">
          <match url="*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
        <defaultDocument>
            <files>
                <remove value="iisstart.htm" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <remove value="index.html" />
                <add value="onx.html" />
            </files>
        </defaultDocument>
    
  </system.webServer>
</configuration>
