body, html {
  height: 100%;
  max-width: 100vw;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #18171a;
}
.navbar {
  background-color: #2c2f33;
  overflow: hidden;
  padding: 20px 10px;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin: 10;
  height: 30px;
}
.page-selector {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1em; /* Adjust size to match your navbar title */
  padding: 0;
  margin: 0;
  cursor: pointer;
  -webkit-appearance: none; /* Removes default styling for dropdown in webkit browsers */
  -moz-appearance: none;    /* Removes default styling for dropdown in Firefox */
}
.page-selector:hover {
  color: #ddd; /* Slight color change on hover */
}
/* Style for the dropdown arrow */
.page-selector::-ms-expand {
  display: none;
}
.page-selector:focus {
  outline: none;
}
.page-selector option {
  background-color: #18171a;
  color: #FFFFFF;
}

.container {
  display: grid;
  justify-content: space-between;
  height: calc(100vh - 70px); /* Adjusted for navbar */
  box-sizing: border-box;
  grid-template-rows: 140px auto auto;
}
.stream-grid {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  overflow-y: auto; /* Make it scrollable */
  padding-right: 10px;
  align-content:flex-start;
  justify-content: center;
  padding-top: 1rem;
  width: auto;
}  
.stream {
  background-color: #646668;
  color: white;
  width: fit-content;
  height: fit-content;
  position: relative;
  transition: transform 1s ease-in-out;
  margin-bottom: 20px; /* Space between streams */
  box-sizing: border-box; /* Include padding and borders in the element's total width and height */
}
.stream .channel-name {
  /*margin-bottom: 10px;*/
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding: 5px;
  background-color: #333;
  display: block;
}
.stream .stream-title {
  text-align: center;
  font-size: 1em;
  color:#c5c5c5;
  margin: 2px;
}
.stream .embed-container {
  width:42vw;
  display: block;
  height: 23.6vw;
}
.stream .stream-controls {
  display: block;
}

.stream .watching-embed-container {
  width:21vw;
  display: block;
  height: 12.3vw;
}

.watching-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  overflow-y: auto;
  align-content:flex-start;
}

.sidebar {
  grid-column: 1;
  grid-row: 2;
  width: 315px;
  margin: 10;
  background-color: #23272a;
  padding: 20px;
  color: white;
}
.sidebar h2 {
  margin-top: 0;
}
.filter-list {
  list-style-type: none;
  padding-left: 10px;
}
.filter-list li {
  margin-bottom: 20px;
  font-size: large;
  font-style: normal;
}
.filter-link{
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.filter-link.active {
  color: #be5eff;
}
.filter-link:hover {
  color: #453ae9;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.main-stage {
  display: none; /* Initially hidden */
  animation-name: slideDown;
  animation-duration: 1s; /* Adjust duration as needed */
  animation-fill-mode: forwards; /* Keeps the element in the final state after the animation */
  width: 100%;
  flex-direction: column;
  margin-bottom: 20px;
  justify-content: center;
}
.main-stream {
  width: 100%;
  height: 100vh; /* Larger size for main stream */
  margin-bottom: 10px;
}
.stream-main {
  width: 100%;
  height: 100%;
}
.main-stage.hide {
  animation-name: slideUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


.marked-streams {
  display: flex;
  gap: 10px;
}

.marked-streams .stream {
  width: 300px; /* Smaller size for marked streams */
  height: 200px;
}



.stream-controls {
  position: absolute;
  top: 95%;
  left: 45%;
  z-index: 10; /* Ensure controls are above the video */
  background-color: rgba(0, 0, 0, 0.5); /* Optional: for better visibility */
  padding: 5px;
  display: flex;
  gap: 5px;

}

.star-img {
  cursor: pointer;
  width: 24px; /* Adjust the size as needed */
  height: auto;
  margin-right: 10px;
}

.star-checked {
  /* Additional styles for checked state if needed */
}

.main-stage-img {
  cursor: pointer;
  width: 24px; /* Adjust the size as needed */
  height: auto;
}


.stream-controls input,
.stream-controls button {
  /* Style your checkbox and button here */
}

.hidden {
display: none;
}

.main-stream-hide-button {
  background-image: url('img\hide_arrow.png');
  background-size: cover; 
  width: 100%; 
  height: 40px; 
  border: none;
  background-color: #2d2931;
  cursor: pointer;
  image-resolution: 100,40;
  display: block;
} 





/* Style the scrollbar in Webkit-based browsers (e.g., Chrome, Safari) */
.stream-grid::-webkit-scrollbar {
  width: 20px; /* width of the entire scrollbar */
}

.stream-grid::-webkit-scrollbar-track {
  background: #000000; /* color of the tracking area */
}

.stream-grid::-webkit-scrollbar-thumb {
  background: #312d35; /* color of the scroll thumb */
  border-radius: 6px; /* roundness of the scroll thumb */
}

.stream-grid::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb when hovered */
}

/* Style the scrollbar in Firefox */
.stream-grid {
  scrollbar-width: thin; /* 'auto' or 'thin' */
  scrollbar-color: #2d2931 #000000; /* thumb and track color */
}



/* For the scrollbar itself */
::-webkit-scrollbar {
  width: 25px; /* Adjust the width as needed */
}

/* For the scrollbar track */
::-webkit-scrollbar-track {
  background: #000000; /* Optional: scrollbar track color */
}

/* For the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #23272a; /* Optional: scrollbar handle color */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c2f33; /* Optional: scrollbar handle hover color */
}

.scroll-button-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-content: right;
}

.scroll-button {
  width: 5rem;
}

#scroll-up-button {
  display: block;
}

#scroll-down-button {
  display: block;
}

#whos-online {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  max-width: 100vw;
  height: 8rem;
  margin-bottom: 1rem;
  background-color: #201824;
}

#whos-online-title {
  font-size:x-large;
  color: #e4e4e4;
  margin: 1rem;
}

#whos-online-number {
  font-size:x-large;
  color: #e4e4e4;
  margin: 1rem;
}

#whos-online-title-block {
  display: flex;
}

.whos-online-grid {
  grid-column: 1;
  display: flex;
  height: 4rem;
  overflow-x: scroll;
  padding-bottom: 1rem;
}

.whos-online-channel {
  color: #777879;
  border: 1px solid #a3a3a3; /* Light grey border */
  padding: 10px; /* Padding inside the border */
  cursor: pointer; /* Change cursor to pointer to indicate clickable */
  background-color: #181818; /* Light background color */
  text-align: center; /* Center the text */
  border-radius: 5px; /* Rounded corners for the border */
  flex: 0 0 auto;
  margin: .30rem;
}

#search-box {
  width: 250px;
}

.site-footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 1rem;
}

.scroll-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 6rem;
}

.scroll-icon {
  width: 80px; /* Adjust as necessary */
  height: 80px; /* Adjust as necessary */
}